@page "/"
@using LiveFeedback.Shared
@using LiveFeedback.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.JSInterop
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;

<main>
    @if (_isConnected is false)
    {
        <h2>Es konnte keine Verbindung zum Server hergestellt werden 😔</h2>
    }
    else if (_isConnected is true)
    {
        @switch (_lecturesAvailable.Count)
        {
            case >= 2:
                <h2>Veranstaltung auswählen:</h2>
                <div class="lecture-grid">
                    @foreach (Lecture lecture in _lecturesAvailable)
                    {
                        <button class="lecture" @onclick="async () => { await SelectLecture(lecture.Id);}">
                            <div class="bold">Veranstaltung:
                                <span>@(string.IsNullOrEmpty(lecture.Name?.Trim()) ? "Unbenannt" : lecture.Name)</span>
                            </div>
                            <div class="bold">Raum:
                                <span>@(string.IsNullOrEmpty(lecture.Room?.Trim()) ? "Unbenannt" : lecture.Room)</span>
                            </div>
                        </button>
                    }
                </div>

                break;
            case > 0:
                <div class="slider-box">
                    <input id="slider" type="range" min="0" max="100" @bind="@_thisClient.Rating"
                           oninput="@HandleSliderChange"/>
                </div>
                <div class="slider-value">
                    @_thisClient.Rating %
                </div>
                <button class="exit-btn">Teilnahme beenden</button>
                break;
            default:
                <h2>Keine Veranstaltungen verfügbar 😔</h2>
                <div>Stellen Sie sicher, dass die Veranstaltung auf dem Präsentatoren-PC gestartet wurde</div>
                break;
        }
    }
</main>

@code {
    private HubConnection _hubConnection = null!;
    private bool? _isConnected; // null == waiting; true == success; false == fail
    private Lecture _currentLecture = new();
    private List<Lecture> _lecturesAvailable = [];

    private readonly Client _thisClient = new()
    {
        Rating = Constants.DefaultRating,
    };
    //private readonly SignalRService _signalRService = new SignalRService();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && _isConnected is not (null or false))
        {
            return;
        }

        Uri uri = NavigationManager.ToAbsoluteUri("/slider-hub");
        _thisClient.Id = await GetLocalStorage("clientId") ?? "";
        _currentLecture.Id = await GetLocalStorage("lectureId") ?? "";

        Dictionary<string, string?> queryParams = new()
        {
            { "group", "default" },
            { "clientId", _thisClient.Id },
            { "lectureId", _currentLecture.Id },
        };
        string url = QueryHelpers.AddQueryString(uri.ToString(), queryParams);

        // Do NOT enable automatic reconnect, it causes weird bugs
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(url)
            .AddJsonProtocol(options =>
            {
                options.PayloadSerializerOptions.TypeInfoResolver = Shared.Models.EfficientJsonContext.Default;
            })
            .Build();

        // Message from the server for the frontend to report its client ID so it can be attached to future requests
        _hubConnection.On<string>(Messages.PersistClientId, async (id) =>
        {
            await SetLocalStorage("clientId", id);
            _thisClient.Id = id;
        });
        _hubConnection.On<string>(Messages.PersistLectureId, async (id) =>
        {
            Console.WriteLine($"Persist lecture ID: {id}!");
            await SetLocalStorage("lectureId", id);
            _currentLecture.Id = id;
        });

        try
        {
            await _hubConnection.StartAsync();
            _isConnected = true;
            _lecturesAvailable = await GetCurrentLecturesFromServer();
            if (_lecturesAvailable.Count == 1)
            {
                _currentLecture = _lecturesAvailable.First();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to connect to server: {e.Message}");
            _isConnected = false;
        }

        _thisClient.Rating = ushort.Parse(await GetLocalStorage("lastRating") ?? Constants.DefaultRating.ToString());
        StateHasChanged();
        await SendRatingToServer(_thisClient.Rating);
    }

    private async Task HandleSliderChange(ChangeEventArgs e)
    {
        _thisClient.Rating = ushort.TryParse(e.Value?.ToString(), out ushort newValue) ? newValue : _thisClient.Rating;
        await SendRatingToServer(_thisClient.Rating);
        await SetLocalStorage("lastRating", _thisClient.Rating.ToString());
    }

    private async Task SendRatingToServer(ushort rating)
    {
        try
        {
            RatingMessage<ushort> message = new()
            {
                ClientId = _thisClient.Id,
                LectureId = _currentLecture.Id,
                Rating = rating
            };
            await _hubConnection.InvokeAsync("RatingReport", message);
        }
        catch (Exception err)
        {
            Console.WriteLine($"Error on the Client: {err.Message}");
        }
    }

    private async Task<List<Lecture>> GetCurrentLecturesFromServer()
    {
        if (_hubConnection.State == HubConnectionState.Connected)
            return await _hubConnection.InvokeAsync<List<Lecture>>("GetCurrentLectures");

        return [];
    }

    private async Task SelectLecture(string lectureId)
    {
        foreach (Lecture lecture in _lecturesAvailable.Where(lecture => lecture.Id == lectureId))
        {
            _currentLecture = lecture;
            _lecturesAvailable = _lecturesAvailable.Where(l => l.Id == lectureId).ToList();
            _thisClient.CurrentLectureId = lectureId;
            await Task.WhenAll(SetLocalStorage("lectureId", lectureId),
                _hubConnection.InvokeAsync("JoinLecture", _thisClient));
        }
    }

    private async Task SetLocalStorage(string key, string value)
    {
        await JsRuntime.InvokeVoidAsync("localStorage.setItem", key, value);
    }

    private async Task<string?> GetLocalStorage(string key)
    {
        return await JsRuntime.InvokeAsync<string>("localStorage.getItem", key);
    }

}